<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webFramework.mappers.adminMapper">
    <!--  새로운 대분류 생성  -->
    <insert id="createCourse">
        insert into course_table (courseName)
        values (#{courseName})
    </insert>

    <!--  새로운 중분류 생성  -->
    <insert id="createCategory">
        insert into category_table (categoryName)
        values (#{categoryName})
    </insert>

    <!--  새로운 소분류 생성  -->
    <insert id="createSkill">
        insert into skill_table (skillName)
        values (#{skillName})
    </insert>

    <!--  새로운 분류(계층) 생성  -->
    <insert id="createHierarchy" parameterType="hashmap">
        insert into hierarchy_table (courseNo, categoryNo, skillNo)
        values (#{courseNo}, #{categoryNo}, #{skillNo})
    </insert>

    <!--  강의 정보 생성  -->
    <insert id="createLectureInfo" useGeneratedKeys="true" keyProperty="lectureNo">
        insert into lecture_info (lectureTeacherNo, lectureName, lectureContent)
        values (#{lectureTeacherNo}, #{lectureName}, #{lectureContent})
    </insert>

    <!--  강의 분류(계층) 생성  -->
    <insert id="createLectureHierarchy" parameterType="hashmap">
        insert into lecture_hierarchy (lectureNo, hierarchyNo)
        values (#{lectureNo}, #{hierarchyNo})
    </insert>

    <!-- 대분류 마스터 테이블 리스트로 조회 -->
    <select id="listCourseMaster" resultType="com.webFramework.domain.CourseVO">
        select * from course_table order by courseNo;
    </select>

    <!-- 중분류 마스터 테이블 리스트로 조회 -->
    <select id="listCategoryMaster" resultType="com.webFramework.domain.CategoryVO">
        select * from category_table order by categoryNo;
    </select>

    <!-- 소분류 마스터 테이블 리스트로 조회 -->
    <select id="listSkillMaster" resultType="com.webFramework.domain.SkillVO">
        select * from skill_table order by skillNo;
    </select>
</mapper>