<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webFramework.mappers.adminMapper">
    <!--  새로운 대분류 생성  -->
    <insert id="createCourse">
        insert into course_table (courseName)
        values (#{courseName})
    </insert>

    <!--  새로운 중분류 생성  -->
    <insert id="createCategory">
        insert into category_table (categoryName)
        values (#{categoryName})
    </insert>

    <!--  새로운 소분류 생성  -->
    <insert id="createSkill">
        insert into skill_table (skillName)
        values (#{skillName})
    </insert>
</mapper>