<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webFramework.mappers.lectureMapper">
    <select id="readLecture" resultType="com.webFramework.domain.LectureVO">
        select *
          from lecture_info
          where lectureName = #{lectureName}
            and lectureNo > 0
            and lectureState = 1
          order by lectureNo desc, lectureOpenDate desc
    </select>

    <select id="checkLecture" resultType="boolean">
        select count(*)
          from lecture_info
          where lectureNo = #{lectureNo}
            and lectureState = 1
    </select>

    <select id="checkUserLecture" resultType="boolean">
        select count(*)
          from user_lecture
          where userNo = #{userNo}
            and lectureNo = #{lectureNo}
    </select>

    <update id="studentCountUp">
        update lecture_info set lectureStudentCount = lectureStudentCount + 1 where lectureNo = #{lectureNo}
    </update>

    <insert id="enrollLecture" parameterType="hashmap">
        insert into user_lecture (userNo, lectureNo)
        values (#{userNo}, #{lectureNo})
    </insert>
</mapper>