<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webFramework.mappers.lectureMapper">
    <!--  분류별 목록  -->
    <select id="listLecture" resultType="com.webFramework.domain.LectureVO" parameterType="hashmap">
        <![CDATA[
        select *
          from lecture_info
          where lectureNo > 0 and lectureState = 1
        ]]>
        <if test="courseNo != 0">
             and lectureNo in (select lectureNo
                                from lecture_hierarchy
                                where hierarchyNo in (select hierarchyNo
                                                       from hierarchy_table
                                                       where courseNo = #{courseNo}
                                                       <if test="categoryNo != 0">
                                                         and categoryNo = ${categoryNo}
                                                       </if>
                                                       <if test="skillNo != 0">
                                                         and skillNo = ${skillNo}
                                                       </if>
                                                       ))
        </if>
           order by lectureNo desc, lectureOpenDate desc
    </select>

    <select id="listCourse" resultType="map">
        select * from course_table
    </select>
</mapper>