<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webFramework.mappers.lectureMapper">
    <select id="readLecture" resultType="com.webFramework.domain.LectureVO">
        select *
          from lecture_info
          where lectureName = #{lectureName}
            and lectureNo > 0
            and lectureState = 1
          order by lectureNo desc, lectureOpenDate desc
    </select>
</mapper>