.container {
    max-width: calc(100% - 300px);
    display: grid;
    /*grid-template-rows: auto 500px;*/
    column-gap: 20px;
    row-gap: 30px;
    margin: 0 auto;
}

.lecture-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background-color: beige;
    padding: 40px 0;
}

.lecture-data {
    display: grid;
    grid-template-areas: "lecture-name"
                         "lecture-sub"
                         "lecture-content";
    grid-template-rows: 50px
                        30px
                        auto;
    row-gap: 15px;
}

.lecture-name {
    display: grid;
    grid-template-areas: "name-title" "name-data";
    grid-template-columns: 120px auto;
    column-gap: 10px;
}

.name-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 32px;
}

.name-data {
    font-weight: 500;
    font-size: 32px;
}

.lecture-sub {
    display: grid;
    grid-template-areas: "." "lecture-teacher" "lecture-count";
    grid-template-columns: 1fr auto auto;
    column-gap: 10px;
}

.lecture-teacher {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 15px;
}

.lecture-count {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 15px;
}

.lecture-content {
    display: grid;
    grid-template-areas: "content-title" "content-data";
    grid-template-columns: 75px auto;
    column-gap: 10px;
    padding: 25px 0;
}

.content-title {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.content-data {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.lecture-btn {
    display: flex;
    align-items: center;
    justify-content: right;
}

.btn-enroll {
    width: 120px;
}

.btn-ing {
    width: 120px;
    color: #ffffff;
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: default;
}